.footer-container {
    background-color: rgb(206, 197, 197);
    margin-top: 60px;
}

.footer-container img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;

}