.footer-container {
    background-color: #263238;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer-container img {
    width: 3%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.footer-container ul li {
    color: white
}

.footer-container p {
    color: white
}