.footer-container {
    background-color: rgb(8, 8, 8);
    margin-top: 60px;
}

.footer-container img {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.footer-container ul li {
    color: white
}

.footer-container p {
    color: white
}