.header-container {
    background-color: #263238;
    margin-bottom: 20px;
    justify-content: space-around;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around;
    align-items: stretch;
}

.buscador {
    margin-top: 2%;
}

.header-container h4 {
    font-family: sans-serif; 
    font-size: 250%;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    color: #F4511E;
}

@media only screen and (max-width: 820px) {

    .header-container {
        width: 830px;
    }
    
    .header-container h4 {
        font-size: 45px;
    }

    .buscador {
        padding-right: 10px;
        width: 80px;
       
    }
}

@media only screen and (max-width: 375px) {

    .header-container {
        width: 380px;
    }
    
    .header-container h4 {
        font-size: 18px;
        margin-right: 0px;
    }

    .buscador {
        padding-bottom: 10px;
        padding-right: 50px;
    }

}