.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.pedir-mas {
    margin-bottom: 15px;
    display: flex !important;
    justify-content: flex-end;
    background-color: #F4511E;
    border-style: double;
    width: 90px;
    font-size: 16px;
    margin-left: 10px;
}

.orden i{
    margin-left: 2%;
    cursor:pointer;
    font-size: 23px;
    color: rgb(233, 229, 223);
    display: flex;
    color: #F4511E;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.orden i:hover{
    box-shadow: 0rem 0rem 4px 3px rgba(18, 18, 19, 0.89);
}

.orden{
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 3%;
    padding-bottom: 1%;
}

@media only screen and (max-width: 820px) {
    .pedir-mas {
        font-size: 28px;
        width: 147px;
    }
    
    .orden i{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .card-container{
        
        width: 820px;
       
    }

    .orden {
        width: 820px;
    }
}

@media only screen and (max-width: 375px) {
    .pedir-mas {
        font-size: 15px;
        width: 90px;
    }
    
    .orden i{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .orden {
        width: 360px;
    }

    .card-container{
        width: 375px;
       
    }
}