.card-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around;
    align-items: stretch;
}


.pedir-mas {
    margin-bottom: 15px;
    display: flex !important;
    justify-content: flex-end;
}

.row{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(177, 169, 169);
}

.column{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(177, 169, 169);
}

.orden i{
    margin-left: 2%;
    cursor:pointer;
    font-size: 23px;
    color: rgb(233, 229, 223);
}
.orden i:hover{
    box-shadow: 0rem 0rem 4px 3px rgba(18, 18, 19, 0.89);
}
.orden{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 3%;
    padding-bottom: 1%;
}



